<h2>We have some projects cooking</h2>


<section class="projects">

    <div class="card">
        <div class="image">
            <%= image_tag 'card_undead.png', alt: 'undead.js logo' %>
        </div>

        <div class="description">
            <h3>undead.js</h3>
            <p>An interactive book that takes you on a journey of creating a <strong>JavaScript</strong> video game, with multiple levels of reading. For the curious, it presents a streamlined making-of with minimal technical details. For developers, it's packed with all the technical details you need.</p>

            <div class="actions">
                Available in <strong>March 2023</strong>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="image">
            <%= image_tag 'card_mist.png', alt: 'The Mistbrewer logo' %>
        </div>

        <div class="description">
            <h3>The Mistbrewer</h3>
            <p>Step into the world of Dreamless and join Vincent on his journey as the Mistbrewer. This <strong>casual games</strong> is easy to pick up and play, with a <strong>chapter-based story</strong> that will keep you engaged from start to finish.</p>

            <div class="actions">
                Early Access in <strong>June 2023</strong>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="image">
            <%= image_tag 'card_kalah.png', alt: 'Kalah logo' %>
        </div>

        <div class="description">
            <h3>Kalah</h3>
            <p>Embark on a haunting adventure in the world of Dreamless as Kalah. Explore a <strong>hand-crafted</strong> 2D landscape filled with secrets waiting to be uncovered. Face the challenges of the suffocating <strong>mist</strong> head on and unravel its mysteries. Get ready for a short, intense journey that will leave a lasting impression.</p>

            <div class="actions">
                Landing <strong>late 2023</strong>
            </div>
        </div>
    </div>

</section>
