<section id="legal_notice">

    <h2>Legal Notice</h2>

    <h3>Company Information</h3>

    <ul>
        <li>SAS <strong>Perky Crow</strong></li>
        <li>SIRET: 91378993900018</li>
        <li>RCS: TC CASTRES</li>
        <li>TVA Intra.: FR61913789939</li>
        <li>Capital: 4 400 Euros</li>
        <li>Head office: 3 bd Jean Jaures - 81230 Lacaune - France</li>
    </ul>

    <h3>Hosting</h3>

    <ul>
        <li>SAS <strong>OVH</strong></li>
        <li>Capital: 10 174 560 Euros</li>
        <li>RCS: Lille Métropole 424 761 419 00045</li>
        <li>Code APE: 2620Z</li>
        <li>TVA Intra.: FR22424761419</li>
        <li>Head office: 2 rue Kellermann - 59100 Roubaix - France</li>
    </ul>

</section>
