body {
    background-color: #b0aba5;
    font-size: 18px;
    color: #030303;
    font-family: 'Yomogi', cursive;
}


strong {
    font-weight: bold;
}


#header {
    .logo {
        margin: 1em auto 0 auto;
        max-width: 15em;

        img {
            width: 100%;
        }
    }

    .tagline {
        text-align: center;
        font-size: 1.25em;
        margin: 1em auto;
        font-family: 'Yomogi', cursive;
    }
}


#main {
    .container {

    }
}