body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}


#header {
    .logo {
        margin: 0 auto;
        max-width: 300px;

        img {
            width: 100%;
        }
    }
}


#main {
    .container {
        padding: 0 15px;
    }
}