@mixin mobile {
    @media (max-width: 600px) {
        @content;
    }
}


body {
  background-color: #dad1ca;
  font-size: 18px;
  color: #1f1e1e;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
}


strong {
  font-weight: bold;
}


small {
  font-size: 0.75em;
  line-height: 1;
  opacity: 0.75;
}


.error {
  text-align: center;
  p {
    margin-bottom: 1em;
  }

  .illustration {
    text-align: center;
    img {
      max-width: 60%;
    }
  }

  @include mobile {
    .end {
      display: none;
    }
    .illustration {
      img {
        max-width: 80%;
      }
    }
  }
}



#header {
  margin-bottom: 5em;

  .logo {
    margin: 1em auto 0 auto;
    width: 15em;
    height: 15em;

    @include mobile {
      width: 12em;
      height: 12em;
    }

    img {
      width: 100%;
    }
  }

  .tagline {
    text-align: center;
    font-size: 1.25em;
    margin: 1em auto;
    color: #2e4e54;

    @include mobile {
      font-size: 1em;
    }
  }
}


#main {

  section {
    max-width: 800px;
    margin: 0 auto 3em auto;

    @include mobile {
      width: auto;
      margin: 0.5em;
    }

    h2 {
      font-size: 1.5em;
      margin-bottom: 0.5em;
      font-family: 'Cinzel', serif;
      color: #2e4e54;

      @include mobile {
        text-align: center;
      }
    }

    h3 {
      font-size: 1.25em;
      margin-bottom: 0;
      font-family: 'Cinzel', serif;
      color: #4e3d31;

      @include mobile {
        text-align: center;
      }
    }

    ul {
      margin-bottom: 2em;
    }
  }

  .projects {

    .card {
      display: flex;
      margin-bottom: 3em;

      @include mobile {
        width: 100%;
        flex-direction: column;
      }

      .image {
        width: 30%;
        @include mobile {
          width: 100%;
        }

        img {
          width: 100%;
        }
      }

      .description {
        width: 70%;
        box-sizing: border-box;
        padding: 0.5em 1em;
        text-align: justify;

        @include mobile {
          width: 100%;
        }
      }

      .actions {
        margin-top: 1em;
        text-align: right;
        color: #4e3d31;

        a {
          background: #2e4e55;
          padding: 0.5em 2em;
          border-radius: 0.25em;
          color: #dad1ca;
          font-weight: bold;
          text-decoration: none;
          transition: background-color 0.2s ease-in-out;
        }

        a:hover {
          background: #172d30;
        }

        @include mobile {
          text-align: center;
        }
      }
    }
  }
}


#footer {
    text-align: center;
    margin: 8em auto 4em auto;
    max-width: 600px;
    font-size: 0.8em;
    color: #4e3d31;

    @include mobile {
      margin: 4em 0.5em 2em 0.5em;
    }

    a {
      color: #2e4e54;
    }

    a:hover {
      color: #172d30;
    }

    .social {
      margin-bottom: 1em;

      a {
        opacity: 0.5;
        display: inline-block;
        margin: 0 0.5em;
        transition: opacity 0.2s ease-in-out;

        img {
          width: 3em;
        }
      }

      a:hover {
        opacity: 1;
      }
    }

    p {
      margin-bottom: 1em;
    }
}
