
@import 'mixins';

body {
  background-color: #dad1ca;
  font-size: 18px;
  color: #1f1e1e;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  background-image: asset-url('background.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  @include mobile {
    background: #dad1ca;
  }
}


strong {
  font-weight: bold;
}


small {
  font-size: 0.75em;
  line-height: 1;
  opacity: 0.75;
}


a {
  color: #2e4e54;

  &:hover {
    color: #172d30;
  }
}


.error {
  text-align: center;
  p {
    margin-bottom: 1em;
  }

  .illustration {
    text-align: center;
    img {
      max-width: 60%;
    }
  }

  @include mobile {
    .end {
      display: none;
    }
    .illustration {
      img {
        max-width: 80%;
      }
    }
  }
}

#header {
  margin-bottom: 5em;

  .logo {
    margin: 1em auto 0 auto;
    width: 14em;
    height: 14em;

    @include mobile {
      width: 11em;
      height: 11em;
    }

    img {
      width: 100%;
    }
  }

  .tagline {
    text-align: center;
    font-size: 1.25em;
    margin: 1em auto;
    color: #2e4e54;

    @include mobile {
      font-size: 1em;
    }
  }
}


#main {

  section {
    max-width: 800px;
    margin: 0 auto 3em auto;

    @include mobile {
      width: auto;
      margin: 0.5em;
    }

    h2 {
      font-size: 1.5em;
      margin-bottom: 0.5em;
      font-family: 'Cinzel', serif;
      color: #2e4e54;

      @include mobile {
        text-align: center;
      }
    }

    h3 {
      font-size: 1.25em;
      margin-bottom: 0;
      font-family: 'Cinzel', serif;
      color: #4e3d31;

      @include mobile {
        text-align: center;
      }
    }

    ul {
      margin-bottom: 2em;
    }

    &.game_page {
      h2 {
        text-align: center;

        img {
          width: 100%;
          max-width: 15em;
        }
      }

      .screenshot {
        margin: 3em auto;
        text-align: center;

        img {
          width: 100%;
          box-sizing: border-box;
          border: 0.25em solid #2d231b;
          border-radius: 0.1em;
        }
      }

      .visual {
        margin: 3em auto;
        text-align: center;

        img {
          width: 100%;
          box-sizing: border-box;
        }
      }

      h3 {
        margin-top: 3em;
        margin-bottom: 1em;
        font-size: 1.5em;
        text-align: center;
      }

      p {
        line-height: 1.6;
        margin-bottom: 1em;
        padding: 0 2.5em;
      }

      ul {
        margin-bottom: 1em;
        padding: 0 2.5em;

        li {
          margin-bottom: 1em;
          line-height: 1.6;
        }
      }

      .join_the_alpha {
        text-align: center;
        margin: 3em;

        a {
          @include button;
          display: inline-block;
        }
      }
    }
  }

  .projects {

    .card {
      display: flex;
      margin-bottom: 3em;
      min-height: 15em;

      @include mobile {
        width: 100%;
        flex-direction: column;
      }

      .image {
        width: 30%;
        text-align: center;

        img {
          width: 100%;
        }

        @include mobile {
          width: 100%;

          img {
            width: 80%;
          }
        }

      }

      .description {
        width: 70%;
        box-sizing: border-box;
        padding: 0.5em 1em;
        text-align: justify;

        @include mobile {
          width: 100%;
        }
      }

      .actions {
        margin-top: 1em;
        text-align: right;
        color: #4e3d31;

        a {
          @include button;
        }

        @include mobile {
          text-align: center;
        }
      }
    }
  }

  #legal_notice {

    h2, h3 {
      text-align: left;
      small {
        display: block;
        margin-bottom: 1em;

        &::first-letter {
          font-size: 0.25em;
        }
      }
    }

    h2 {
      margin-bottom: 1.5em;
    }
  
  }
}


#footer {
  text-align: center;
  margin: 8em auto 4em auto;
  max-width: 600px;
  font-size: 0.8em;
  color: #4e3d31;

  @include mobile {
    margin: 4em 0.5em 2em 0.5em;
  }

  .social {
    margin-bottom: 1em;

    a {
      opacity: 0.5;
      display: inline-block;
      margin: 0 0.5em;
      transition: opacity 0.2s ease-in-out;

      img {
        width: 3em;
      }
    }

    a:hover {
      opacity: 1;
    }
  }

  p {
    margin-bottom: 1em;
  }
}


